.container {
    display: flex;
    flex-direction: row;
}

.left-panel {
    display: flex;
    flex: 0.4;
    width: 40%;
    height: 100vh;
    position: relative;         /* so children can be absolutely positioned */
    overflow: hidden;
}

.left-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.left-heading {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;         /* stretch full panel width */
    transform: translate(-50%, -50%); /* perfect centering */
    background-color: #808080;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.heading-text {
    font-size: 200px;
    line-height: 1;
    color: antiquewhite;
}

.right-panel {
    display: flex;
    flex: 0.6;
    flex-direction: column;
}



